
{% extends 'base.html' %}


{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock %}


{% block title %}
    拿走你的姓名
{% endblock %}


{% block Css %}
    {% load static %}
    <link rel="icon" type="image/png" href="/static/img/small-logo-01.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='/static/css/style.css' rel='stylesheet' type='text/css'>
{% endblock %}


{% block Js %}
    {% load static %}
{% endblock %}








